{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/styles/form.css">
{% endblock css %}

{% block title %}New user{% endblock %}

{% block header %}
    <a href="{{ path('home') }}">Acceuil</a>
    <a href="{{ path('user') }}">User</a>
{% endblock header %}

{% block main %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock main %}
