{% extends "project/project.html.twig" %}

{% block title %}{{p.name}}{% endblock %}

{% block content %}
    {# {{dump(p)}} #}
    <section id="project-details" class="box">

        <div id="title-box" class="box border-red">
            <h1>{{p.name}}</h1>
            <p class="date">{{p.date|date("m/Y") }}</p>
        </div>
        <div id="project-content"> 
            <img src="{{p.img starts with 'http' ? 
                asset(p.img) :
                asset('assets/image/' ~ p.img)}}"
                class="border-red" alt="Visuel du projet {{p.name}}">
            <p>{{p.description|striptags("<strong>, <em>, <del>, <a>, <div>")|raw}}</p>
        </div>
        <a href="{{p.link}}" target="_blank">Voir le projet en live</a>
        
    </section>

{% endblock content %}