{% extends 'base.html.twig' %}

{% block title %}Register First User{% endblock %}

{% block main %}
    <section id="register">
        
        <h1>Create fist user</h1>
        <p>It gonna be the first administrator</p>
        
        {{form(form)}}

        {# {{ form_errors(registrationForm) }}
        
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        
        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }} #}
    </section>
{% endblock %}
