{% extends 'base.html.twig' %}

{% block css %}<link rel="stylesheet" href="styles/about.css">{% endblock css %}

{% block title %}A propos{% endblock %}

{% block main %}
    <section id="about" class="box">
        <h1 class="border-red">A propos de moi</h1>
        <section id="bio" class="border-red">
            <p>{{bio|striptags("<h1>, <ul> ,<ol>, <li> <strong>, <em>,  <a>, <del>, <div>, <pre>, <blockquote>")|raw}}</p>
        </section>
        <section id="cv">
            
            <section id="xp-pro" class="box section-cv">
                {% for xp in xpPro %}
                    <div class="border-red box card-cv">
                        <h2>{{xp.title}}</h1>
                        <i>{{xp.compagny}} - {{xp.city}}</i>
                        <p>{{xp.description|striptags("<h1>, <ul> ,<ol>, <li> <strong>, <em>,  <a>, <del>, <div>, <pre>, <blockquote>")|raw}}</p>
                    </div>
                {% endfor %}
            </section>
    
            <section id="studies" class="box section-cv">
                {% for s in studies %}
                    <div class="border-red box card-cv">
                        <h2>{{s.certificate}}</h2>
                        <i>{{s.school}}</i>
                        <p>{{s.description|striptags("<h1>, <ul> ,<ol>, <li> <strong>, <em>,  <a>, <del>, <div>, <pre>, <blockquote>")|raw}}</p>
                    </div>
                {% endfor %}
            </section>
        </section>

        <section id="hobbies" class="border-red box">
            {% for h in hobbies %}
                <div>
                    <h2>{{h.name}}</h2>
                    <p>{{h.description|striptags("<h1>, <ul> ,<ol>, <li> <strong>, <em>,  <a>, <del>, <div>, <pre>, <blockquote>")|raw}}</p>
                </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}
